
<div class="card-content">
<h2 class="center"><i class="material-icons yellow darken-2">dashboard</i>Productos</h2>
<a routerLink="/administracion/crear-producto" class="btn-small aCreate yellow darken-2"><i class="material-icons left">library_add</i>Crear Producto</a>
<table class="table responsive inventario">
    <thead>
        <tr class="grey lighten-2">
            <th><i class="material-icons left">create</i>Nombre</th>
            <th><i class="material-icons left">attach_money</i>Precio</th>
            <th><i class="material-icons left">inventory</i>Stock</th>
            <th><i class="material-icons left">summarize</i>Categoria</th>
            <th><i class="material-icons left">add_photo_alternate</i>Imagen</th>
            <th><i class="material-icons left">description</i>Descripcion</th>            
            <th><i class="material-icons left">edit</i>Edicion</th>
            <th><i class="material-icons left">delete_forever</i>Eliminación</th>
        </tr>        
    </thead>
    <tbody>
        <tr *ngFor = 'let p of ListaProductos'>
            <td>{{p.Nombre}}</td>
            <td>{{p.Precio}}</td>
            <td>{{p.Stock}}</td>
            <td>{{p.Categoria}}</td>
            <td><img src="{{p.Imagen}}" class="imgProducto"></td>
            <td class="description">{{p.Descripcion}}</td>
            <td><a routerLink="/administracion/editar-producto/{{p.Id}}" class="btn yellow darken-2"><i class="material-icons left">edit</i>Editar</a></td>
            <td><a routerLink="/administracion/eliminar-producto/{{p.Id}}" class="btn red darken-4"><i class="material-icons left">delete_forever</i>Eliminar</a></td>
        </tr>
    </tbody>
</table>
</div>