<div class="card-content container">
    <h2 class="center">Productos</h2>
    <div class="row">
        <div class="col s12 l6 offset-l10">
            <a routerLink="/administracion/crear-producto" class="btn waves-effect cyan waves-light"><i
                    class="material-icons left">library_add</i>Crear Producto</a>
        </div>
    </div>
    <table class="table responsive">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Categoria</th>
                <th>Imagen</th>
                <th>Descripcion</th>
                <th>Edicion</th>
                <th>Eliminación</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let p of ListaProductos'>
                <td>{{p.Nombre}}</td>
                <td>{{p.Precio}}</td>
                <td>{{p.Stock}}</td>
                <td>{{p.Categoria}}</td>
                <td><img src="{{p.Imagen}}" class="imgProducto"></td>
                <td>{{p.Descripcion}}</td>
                <td>
                    <a routerLink="/administracion/editar-producto/{{p.Id}}"
                        class="btn-floating btn-large waves-effect waves-light cyan"><i
                            class="material-icons left">edit</i></a>
                </td>
                <td><a routerLink="/administracion/eliminar-producto/{{p.Id}}"
                        class="btn-floating btn-large waves-effect waves-light red"><i
                            class="material-icons left">delete_forever</i></a></td>
            </tr>
        </tbody>
    </table>
</div>
<br>