<h2>Productos</h2>
<table class="table responsive">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Categoria</th>
            <th>Imagen</th>
            <th>Descripcion</th>            
            <th>Edicion</th>
            <th>Eliminación</th>
        </tr>        
    </thead>
    <tbody>
        <tr *ngFor = 'let p of ListaProductos'>
            <td>{{p.Nombre}}</td>
            <td>{{p.Precio}}</td>
            <td>{{p.Stock}}</td>
            <td>{{p.Categoria}}</td>
            <td><img src="{{p.Imagen}}" class="imgProducto"></td>
            <td>{{p.Descripcion}}</td>
            <td><a routerLink="/administracion/editar-producto/{{p.Id}}" class="btn">Editar</a></td>
            <td><a routerLink="/administracion/eliminar-producto/{{p.Id}}" class="btn btn-danger">eliminar</a></td>
        </tr>
    </tbody>
</table>