<div class="carousel carousel-slider">
  <a class="carousel-item" href="#five!"><img src="./assets/bannergeek.JPG"></a>
</div>

<br>
<h3 class="center">Productos Destacados</h3>
<br>

<div class="container">
  <div class="row">
    <div *ngFor='let p of ListaProductos'>
      <div class="col s6 m4 l3">
        <div class="card">
          <div class="card-image">
            <img src="{{p.Imagen}}" class="imgCard">

            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                class="material-icons">add_shopping_cart</i></a>
          </div>
          <div class="card-content">
            <h6>{{p.Nombre}}</h6>
            <h6>{{p.Precio | currency}}</h6>
            <br>
            <p>{{p.Descripcion}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
