h4 {
  font-weight: 600;
}
td {
  font-weight: 500;
}
h2 {
  font-weight: 600;
}
h6 {
  font-weight: 500;
}
thead {
  background-color: rgb(172, 208, 255);
}
h3 {
  font-weight: 500;
  color: blue;
}
.card {
  min-height: 430px;
}
.imgCard {
  height: 200px;
}
.card {
  box-shadow: 01px 1px 10px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}
.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
  transform: translateY(-3%);
  border-radius: 14px;
}

.carro:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
  transform: translateY(20%);
  border-radius: 14px;
  background-color: green !important;
}
