#logo{
  width: 70px;
}
.sidenav-trigger{
  text-align: center;
  height: 40px;
  margin-top: 15px;
  color: rgb(251, 249, 249);
  font-size: x-large;
}

p{
  text-align: center;
}

h4{
  font-weight: 500;
}

#slide-out{
  background-color: rgb(91, 208, 243);
}

.dropdown-content{
  width: 200px !important;
}

#dropdown2{
  width: 240px !important;
  margin-top: 10px !important;
}

#modal1{
background-color: rgb(240, 118, 143);
width: 600px;
height: 220px;
color: rgb(252, 248, 248);
}

.modal-footer{
  background-color: rgb(240, 118, 143);
}